@import "../../styles.scss";

/*-- Tutorial Flex --*/
.tutorial__steps {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    padding: 0 1rem;

    @media screen and (min-width: 768px) {
        padding: 0;
    }
}
    .tutorial__step {
        @include flex(48%);
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        padding: 1rem 1rem 0;
        margin-bottom: 1rem;
        background-color: $white;
        border-radius: 10px;

        @media screen and (min-width: 768px) {
            @include flex(23%);
            margin-bottom: 0;
        }
    }
        .tutorial__number {
            position: relative;
            z-index: 1;
            padding-bottom: 1rem;
            font-family: $font-family;
            font-size: $font-size--big;
            color: $white;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                z-index: -1;
                transform: translateX(-50%);
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                background-color: $primary-color;
            }
        }