<div class="tutorial__steps">
  <div *ngFor="let step of steps" class="tutorial__step">
    <span class="tutorial__number">{{step.step}}</span>
    <figure>
        <img class="tutorial__logo" width="50px" src={{step.icon}}  />
    </figure>
    <h4 class="tutorial__heading">{{step.name}}</h4>
    <p class="tutorial__text">{{step.description}}</p>
  </div>
</div>