<label class="button button--file" >
  Start
  <input type="file" id="start" name="start" accept="image/jpg" (input)="onSubmitChange()"/>
</label>
<app-loading class="loading {{loadingState}}"></app-loading>