@import "../../styles.scss";

/*-- Button Style --*/
.button {
    width: 50%;
    padding: 2rem;
    background-color: $primary-color;
    border-radius: 10px;

    font-size: $font-size--big;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $white;

    cursor: pointer;
}
    .button--file:before {
        content: url('https://image.flaticon.com/icons/svg/149/149213.svg');
        display: block;
        margin: 0 auto;
        width: 50px;
    }

/*-- Loading --*/
.loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: $background;

    &.is-open { display: block; }
}