@import "../../styles.scss";

/*-- Modal loading --*/
.loading__modal {
    position: absolute;
    top: 1rem;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    padding: 1rem;
    width: 90%;
    border-radius: 10px;
    background-color: $white;

    @media screen and (min-width:768px) {
        width: 50%;
        top: 3rem;
        bottom: 3rem;
    }
}
    .loading__image {
        margin: 1rem 0;
    }
    .loading__text {
        font-size: $font-size--small;
    }

/*-- Spinner --*/
@keyframes spin {
    0% {
        transform:rotate(0deg); 
    }
    25% {
        transform:rotate(90deg); 
    }
    50% {
        transform:rotate(180deg); 
    }
    75% {
        transform:rotate(270deg); 
    }
    100% {
        transform:rotate(360deg); 
    }
}
@keyframes verticalPulse {
    0% {
        top: 50%;
    }
    12.5% {
        top: 25%;
    }
    25% {
        top: 0%;
    }
    37.5% {
        top: 25%;
    }
    50% {
        top: 50%;
    }
    62.5% {
        top: 75%;
    }
    75% {
        top: 100%;
    }
    87.5% {
        top: 75%;
    }
    100% {
        top: 50%;
    }
}
@keyframes horizontalPulse {
    0% {
        left: 50%;
    }
    12.5% {
        left: 25%;
    }
    25% {
        left: 0%;
    }
    37.5% {
        left: 25%;
    }
    50% {
        left: 50%;
    }
    62.5% {
        left: 75%;
    }
    75% {
        left: 100%;
    }
    87.5% {
        left: 75%;
    }
    100% {
        left: 50%;
    }
}

.spinner {
    margin: 0 auto;
    padding: 1rem 0;
    width: 100px;
    height: 100px;
    animation: spin 2s 0s linear infinite forwards;
}
.green {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #00bc8c;
    border-radius: 50%;
    animation: verticalPulse 3s 0s linear infinite forwards;
}
.orange {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #F39C12;
    border-radius: 50%;
    animation: horizontalPulse 3s 0s linear infinite forwards;
}
.blue {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #3498DB;
    border-radius: 50%;
    animation: verticalPulse 3s 0s linear infinite reverse;
}
.red {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #E74C3C;
    border-radius: 50%;
    animation: horizontalPulse 3s 0s linear infinite reverse;
}