<div class="loading__modal">
  <div class="spinner">
    <div class="green"></div>
    <div class="orange"></div>
    <div class="blue"></div>
    <div class="red"></div>
  </div>
  <div class="loading__content">
    <img class="loading__image" src="{{icon$ | async }}" height="200px" />
    <h6>{{name$ | async }}</h6>
    <p class="loading__text">{{description$ | async }}</p>
  </div>
</div>
