<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row {{loadingClass}}">
      <div class="banner">
        <img class="logo" src="../assets/img/logo.png" width="75px" />
        <h1 class="banner__heading">{{ title }}</h1>
      </div>
      <app-tutorial class="tutorial"></app-tutorial>
      <app-start class="start" (notify)='onNotify($event)'></app-start>
  </div>
  <div class="row {{resultClass}}">
      <div class="banner">
        <img class="logo" src="../assets/img/logo.png" width="75px" />
        <h1 class="banner__heading">{{ title }}</h1>
      </div>
      <app-result class="result-page"></app-result>
  </div>
</div>
