@import "../styles.scss";

.logo {
    padding-right: 1rem; 
}
.is-closed { display: none; }

/*-- Banner --*/
.banner {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    width: 100%;
    padding-top: 2rem;
}
    .banner__heading {
        color: $white;
    }

/*-- Tutorial base --*/
.tutorial,
.start {
    width: 100%;
    padding-top: 2rem;
    text-align: center;
}