@import url('https://fonts.googleapis.com/css?family=Candal');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');

/*-- Colors --*/
$background: #343a40;
$white: #ffffff;
$primary-color: #008B8B;

/*-- Fonts --*/
$font-family: 'Candal', sans-serif;
$font-family--text: 'M PLUS 1p', sans-serif;

$font-size--small: 14px;
$font-size: 18px;
$font-size--big: 24px;

/*-- Mixins --*/
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
       -moz-flex-direction: $direction;
        -ms-flex-direction: $direction;
            flex-direction: $direction;
}
@mixin flex-wrap($wrap) {
    -webkit-flex-wrap: $wrap;
       -moz-flex-wrap: $wrap;
        -ms-flex-wrap: $wrap;
            flex-wrap: $wrap;
}
@mixin flex($width) {
    -webkit-flex: 0 0 $width;
       -moz-flex: 0 0 $width;
        -ms-flex: 0 0 $width;
            flex: 0 0 $width;
           width: $width;
}
@mixin justify-content($justify) {
    -webkit-justify-content: $justify;
       -moz-justify-content: $justify;
        -ms-justify-content: $justify;
            justify-content: $justify;
              -ms-flex-pack: $justify;
}
@mixin align-items($align) {
    -webkit-align-items: $align;
       -moz-align-items: $align;
        -ms-align-items: $align;
            align-items: $align;
}  

/*-- Base --*/
body {
    font-family: $font-family--text;
}
@for $i from 1 through 6 {
    h#{$i}{
        font-family: $font-family;
    }
}
label { font-family: $font-family; }

input[type="file"] {
    display: none;
}