<figure>
  <img src="../../assets/img/mosaico-nasa.png" class="result-page__mosaic" height="450" />
</figure>
<div class="result-page__list">
  <h2 class="result-page__heading">Resources for yoir mosaic:</h2>
  <div *ngFor="let item of data" class="result-page__item">
    <figure class="result-page__image">
      <img src="{{item.icon}}" />
    </figure>
    <div class="result-page__content">
      <h4>{{item.name}}</h4>
      <div>
        <p>{{item.description}}</p>
        <a class="result-page__link" href="{{item.link}}" target="_blank" title="{{item.name}}">Go to NASA</a>
      </div>
    </div>
  </div>
</div>