@import "../../styles.scss";

/*-- Result Page --*/
.result-page__mosaic { margin: 2rem auto; display: block; }
.result-page__heading { color: $white; padding-bottom: 2rem; }
.result-page__item {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(center);

    h4,
    p,
    a {
        color: $white;
    }
}
    .result-page__image {
        @include flex(25%);
        padding-right: 2rem;

        img { max-width: 100%; }
    }
    .result-page__content {
        @include flex(70%);
    }
        .result-page__link {
            text-decoration: underline;
        }